workflows/outline-generator.json
{
  "name": "outline-generator",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert curriculum designer.\n\nStudent Goal:\n{{ $json['Student Goals'] }}\n\nCurriculum:\n{{ $json.Curriculum }}\n\nReference Material:\n{{ $json.Materials }}\n\nGenerate a detailed slide outline with:\n- total slide count\n- section breakdown\n- slide-by-slide detail\n- suggested visuals\n- teaching notes",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an expert curriculum designer and instructional strategist.\n\nYour task is to generate a detailed slide outline for a course or lecture based on:\n\nINPUTS:\n1) Student Goal – A structured description of what students expect to achieve.\n2) Curriculum – Topics, constraints, duration, level, prerequisites, or required standards.\n3) Uploaded Files – Reference materials (e.g., PDF slides, textbook excerpts, lecture notes). These must be used as grounding material and structure guidance.\n\nOBJECTIVE:\nGenerate a detailed slide-by-slide outline that aligns with:\n- The students' goals\n- The provided curriculum\n- The uploaded reference materials\n\nOUTPUT REQUIREMENTS:\n\n1. First, briefly summarize:\n   - Target audience level\n   - Learning objectives (refined and clarified if needed)\n   - Total recommended number of slides\n   - Estimated duration\n\n2. Then generate a structured slide outline in the following format:\n\n-----------------------------------\nSection Title\n-----------------------------------\n\nSlide 1: Title\n- Purpose of the slide\n- Key concepts covered\n- Bullet point content\n- Suggested visual (diagram/chart/code/example/etc.)\n- Teaching notes (optional but recommended)\n\nSlide 2: Title\n- Purpose\n- Key concepts\n- Content bullets\n- Suggested visual\n- Teaching notes\n\nContinue until complete.\n\n3. Ensure:\n- Logical progression from fundamentals → deeper understanding → application.\n- Content difficulty matches student level.\n- Slides are not overloaded.\n- Complex topics are broken into multiple slides.\n- Practical examples and exercises are included where appropriate.\n- If PDF materials are provided, incorporate structure and terminology from them.\n\n4. If information is missing or unclear:\n- Make reasonable academic assumptions.\n- State those assumptions clearly before generating the outline.\n\n5. If the curriculum duration is provided:\n- Adjust slide count proportionally.\n- Include recap and Q&A slide at the end.\n\nTone:\nProfessional, structured, instructional-design oriented.\n\nDO NOT:\n- Generate full lecture scripts.\n- Repeat the entire PDF content.\n- Provide generic outlines without aligning to goals.\n\nOUTPUT FORMAT:\nClear headings\nNumbered slides\nStructured bullet points\nConcise but detailed enough to directly create slides from\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        0
      ],
      "id": "aaa7290b-dddd-47d7-9b71-5cebc984438a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "formTitle": "Outline Generation",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Student Goals",
              "fieldType": "textarea",
              "requiredField": true
            },
            {
              "fieldLabel": "Curriculum",
              "fieldType": "textarea"
            },
            {
              "fieldLabel": "Materials",
              "fieldType": "file",
              "acceptFileTypes": ".pdf"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        160,
        0
      ],
      "id": "892dc8fc-4788-4ef3-a62c-47c8b38be9e5",
      "name": "On form submission",
      "webhookId": "4641f4c7-aec3-4ca4-aee3-c58ecce81b2f"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        288,
        208
      ],
      "id": "f9719546-ea95-40a1-8ee1-eef17aa8352b",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "TjR9uwxCSrccqQWl",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"summary\": \"...\",\n  \"total_slides\": 24,\n  \"sections\": [\n    {\n      \"title\": \"Introduction\",\n      \"slides\": [\n        {\n          \"title\": \"...\",\n          \"content\": [\"...\"],\n          \"visual\": \"...\",\n          \"notes\": \"...\"\n        }\n      ]\n    }\n  ]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        592,
        208
      ],
      "id": "f7577316-6bf2-4bdd-9e76-a457ad7f1bc0",
      "name": "Structured Output Parser"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        []
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "1306b979-8305-4ac8-9510-71bf5d2cac29",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0f70a61738a6ba6ab92ef8baed15c2ae20a0b5a4798ddc820950bfe7703f9a13"
  },
  "id": "uQU6zT5zj9BIfLrE5QTdB",
  "tags": []
}