workflows/slide-generator.json
{
  "name": "slide-generator",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        208,
        0
      ],
      "id": "6e7d16b0-04fe-4d1c-86f3-acdf3995339d",
      "name": "When chat message received",
      "webhookId": "fbfd7e34-00ef-497e-99d2-d248a138cfe8"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=output a Marp-format slide only for the script ready to copy paste. Do not output any extra texts or symbols and do not include ``` as well so that the output is directly converted into Marp slide. The below are prompt:  {{ $json.chatInput }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        0
      ],
      "id": "5b199690-8aad-4517-b8df-2a53782b60e1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        288,
        208
      ],
      "id": "cbf126a0-b1e5-477d-a3f1-208446b76392",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "nkjyjxzIkBKuhyZh",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://slide_generator:5000/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "markdown",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        768,
        0
      ],
      "id": "de945664-1254-43eb-a57f-dcee12275697",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "capstone-ai-education",
        "fileName": "tmp.pdf",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2,
      "position": [
        976,
        0
      ],
      "id": "b221a54a-56a1-42da-8605-a26e94ebe57e",
      "name": "Upload a file",
      "credentials": {
        "aws": {
          "id": "dxBCP5LgruhUqTMg",
          "name": "AWS (IAM) account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Upload a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "0f04d857-15ea-4b14-bceb-fc944331ae93",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dacf661d18952437dcd120ba832369f336608e51c4a96e821e930948a4d1e07e"
  },
  "id": "bSG0GG8K2wzyXDGJ19WlZ",
  "tags": []
}